<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>    
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico.ico') }}">
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="container mt-5 text-center">
        <h1 class="mb-4">Прогноз погоды на маршруте</h1>
        <p class="lead mb-5">Узнайте погодные условия между двумя городами для комфортного путешествия</p>
    </div>
    <div class="container mt-5">
        <form method="POST">
            <div class="mb-3">
                <label for="departureCity" class="form-label">Город отправления (на английском)</label>
                <input type="text" class="form-control" id="departureCity" name="departureCity" 
                    pattern="[A-Za-z\s]+" title="Пожалуйста, введите название города на английском языке"
                    required>
            </div>
            <div class="mb-3">
                <label for="arrivalCity" class="form-label">Город назначения (на английском)</label>
                <input type="text" class="form-control" id="arrivalCity" name="arrivalCity"
                    pattern="[A-Za-z\s]+" title="Пожалуйста, введите название города на английском языке"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    {% if weather != 0 %}
        {% if weather.error %}
            <div class="container mt-4">
                <div class="alert alert-danger text-center" role="alert">
                    {{ weather.error }}
                </div>
            </div>
        {% else %}
            <div class="container mt-4">
                <h2 class="text-center mb-4">Прогноз погоды для поездки {{ weather.cityA }} → {{ weather.cityB }}</h2>
                <p class="text-center mb-4 {% if weather.is_good %}text-success{% else %}text-danger{% endif %}">
                    {{ weather.travel_recommendation }}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h3 class="mb-0">Погода в {{ weather.cityA }}</h3>
                            </div>
                            <div class="card-body text-center">
                                <div class="weather-icon my-3">
                                    <img src="http://openweathermap.org/img/wn/{{ weather.iconA }}@2x.png" alt="Иконка погоды" class="img-fluid">
                                </div>
                                <h4 class="text-primary mb-3">{{ weather.weather_descriptionA }}</h4>
                                <div class="p-4 bg-light rounded shadow-sm mb-4">
                                    <p class="lead fs-4 mb-0">{{ weather.detailed_descriptionA }}</p>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-temperature-high"></i>
                                            <p class="mb-1">Температура</p>
                                            <h5>{{ weather.tempA }}°C</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-wind"></i>
                                            <p class="mb-1">Скорость ветра</p>
                                            <h5>{{ weather.wind_speedA }} м/с</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-tint"></i>
                                            <p class="mb-1">Влажность</p>
                                            <h5>{{ weather.humidityA }}%</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-compress-alt"></i>
                                            <p class="mb-1">Давление</p>
                                            <h5>{{ weather.pressureA }} гПа</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h3 class="mb-0">Погода в {{ weather.cityB }}</h3>
                            </div>
                            <div class="card-body text-center">
                                <div class="weather-icon my-3">
                                    <img src="http://openweathermap.org/img/wn/{{ weather.iconB }}@2x.png" alt="Иконка погоды" class="img-fluid">
                                </div>
                                <h4 class="text-primary mb-3">{{ weather.weather_descriptionB }}</h4>
                                <div class="p-4 bg-light rounded shadow-sm mb-4">
                                    <p class="lead fs-4 mb-0">{{ weather.detailed_descriptionB }}</p>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-temperature-high"></i>
                                            <p class="mb-1">Температура</p>
                                            <h5>{{ weather.tempB }}°C</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-wind"></i>
                                            <p class="mb-1">Скорость ветра</p>
                                            <h5>{{ weather.wind_speedB }} м/с</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-tint"></i>
                                            <p class="mb-1">Влажность</p>
                                            <h5>{{ weather.humidityB }}%</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="p-3 border rounded bg-light">
                                            <i class="fas fa-compress-alt"></i>
                                            <p class="mb-1">Давление</p>
                                            <h5>{{ weather.pressureB }} гПа</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>